<?xml version="1.0" encoding="UTF-8" ?>

<log4j:configuration debug="true"
    xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
       <param name="append" value="target/error.log"/>
       <param name="maxFileSize" value="100KB"/>
       <param name="maxBackupIndex" value="50"/>
       <!-- For Tomcat -->
       <param name="file" value="${catalina.home}/logs/JD2webProject.log"/>
       <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern"
            value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
       </layout>
         <!-- For Disk -->
      </appender>  
       <appender name="file2" class="org.apache.log4j.RollingFileAppender"> 
         <param name="file" value="D:/Apache/apache-tomcat-9.0.22/logs/JD2webProject.txt"/>
          <param name="maxFileSize" value="100KB"/>
       <param name="maxBackupIndex" value="50"/>
       <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern"
            value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
       </layout>
    </appender>

    <root>
        <level value="trace"/>
        <appender-ref ref="file"/>
        <appender-ref ref="file2"/>
    </root>

</log4j:configuration>